.empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.name{
    color: #ffff;
}

.stat .info{
    padding: 1rem;
}

.stat{
    color: rgba(255, 255,255, 0.9);
    border-bottom: 1px solid rgba(255, 255,255, 0.7);

}

.img{
    border-radius: 50%;
    margin: 2rem 0;
}

.btn{
    padding: 1rem;
    margin: 1rem 0;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 30px;
    outline: 0;
}
.btn:hover{
    background-color: rgba(255, 255,255, 0.7);
    cursor: pointer;
}